
.service-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-card img{
    background-position: 50% 50%;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.zz-left{
    flex-direction: row-reverse !important;
}