

.intro{
    color: white;
    height: 45rem;
    height: 75vh;
    background-image: url("/./src/images/introservices.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.intro-bg{
    aspect-ratio: 1/1;
    width: 100%;
    
}

.intro-shade{
    height: inherit;
    background-color: rgba(0,0,0,.25);
}

.intro-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: inherit;
}

.promo {
    height: 50px; 
    overflow: hidden;
    position: relative;
    }
    .promo p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 25s linear infinite;
    -webkit-animation: scroll-left 25s linear infinite;
    animation: scroll-left 25s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
    0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
    }

.about-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid green 2px;
}

.about-us img{
    background-position: 50% 50%;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;
}


.about-us-content{
    height: inherit;
    padding: 2rem;
}

.what-we-do{
    padding: 1rem;
}

.details-card{
    background-image: url("/./src/images/card2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.details-card-img{
    background-position: 50% 50%;
    background-attachment: fixed;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 50%;
}

.details-box{
    display: flex;
    flex-wrap: wrap;
}

.details-text{
    font-size: 1.2rem;
    text-align: left;
}

.specialties{
    background-color: rgba(255, 255, 255, 0.6);
}

.bg-pic{
    background-image: url("/src/images/card1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.services-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}